<div class="filters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
            panelClass="sort-select"    
            [(ngModel)]="sort"
        >
            <mat-option value="name">Name</mat-option>
            <mat-option value="name">Released</mat-option>
            <mat-option value="name">Added</mat-option>
            <mat-option value="name">Created</mat-option>
            <mat-option value="name">Updated</mat-option>
            <mat-option value="name">Rating</mat-option>
            <mat-option value="name">Metacritics</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="games">
    <div class="game">
        <div class="game-thumb-container">
            <img 
                src="https://images.pexels.com/photos/7915364/pexels-photo-7915364.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" 
                alt="thumbnail" 
                class="game-thumbnail"
            >
        </div>
        <div class="game-description">
            <p class="game-name"></p>
            <div class="game-platforms">
                <img src="" alt="slug" class="game-platform">
            </div>
        </div>
    </div>
</div>